<div class="overlay-lightbox modal">
    <button class="close-button" data-modal-close></button>
    <div class="overlay-modal">
        <span class="modal-img-wrapper">
            <img src="{{images.1.url}}" alt="{{name}}" class="modal-photo" />
        </span>

        <div class="modal-content">
            <span class="modal-content-img-wrapper">
                <img src="{{images.1.url}}" alt="{{name}}" class="modal-photo-main" />
            </span>

            <ul class="modal-content-list list">
                <li class="modal-title">
                    INFO

                    <span class="modal-text">{{promoter.description}}</span>
                </li>
                <li class="modal-title">
                    WHEN
                    <span class="modal-text">{{dates.start.localDate}}</span>
                    <span class="modal-text">{{resultFeatch.dates.start.localTime}}
                        ({{dates.timezone}})</span>
                </li>

                <li class="modal-title">
                    WHERE

                    <span class="modal-text">{{_embedded.venues.0.city.name}},
                        {{_embedded.venues.0.country.name}}</span>
                    <span class="modal-text">{{_embedded.venues.0.name}}</span>
                </li>
                <li class="modal-title">
                    WHO
                    <span class="modal-text title-event">{{name}}</span>
                </li>
                <li class="modal-buy-tickets">
                    <span class="modal-title">PRICES</span>
                    <ul class="modal-content-list list">
                        <li>
                            <div class="modal-ticket">
                                <span class="modal-skan-svg">
                                    <svg class="modal-svg">
                                        <use href="../images/barcode_icon_138897.svg"></use>
                                    </svg>
                                </span>
                                <span class="modal-status-ticket">
                                    {{products.0.type}} :{{priceRanges.0.min}}-{{priceRanges.0.max}}
                                    ({{priceRanges.0.currency}})
                                </span>
                            </div>
                            <button class="modal-button">
                                <a href="{{products.1.url}}">BUY TICKETS</a>
                            </button>
                        </li>
                        <li>
                            <div class="modal-ticket">
                                <span class="modal-skan-svg"> </span>
                                <span class="modal-status-ticket">
                                    {{products.1.type}}: {{priceRanges.0.min}}-{{priceRanges.0.max}}
                                    ({{priceRanges.0.currency}})

                                </span>
                            </div>
                            <button class="modal-button">
                                <a href="{{products.0.url}}">BUY TICKETS</a>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <button class="modal-button-more">
        <span>MORE FROM THIS AUTHOR</span>
    </button>
</div>