<div class="overlay-lightbox modal">
    <button class="close-button" data-modal-close>x</button>
    <div class="overlay-modal">
        <img src="{{images.1.url}}" alt="{{name}}" width="20px" height="20px" class='modal-photo'>
        <div>
            <img src="{{images.1.url}}" alt="{{name}}" width="20px" height="20px" class='modal-photo-main'>
            <ul>
                <li class="modal-titel">INFO
                    <span class="modal-text">{{promoter.description}}</span>
                </li>
                <li class="modal-titel">WHEN
                    <span>{{dates.start.localDate}}</span>
                    <span>{{resultFeatch.dates.start.localTime}}</span>
                    <span>{{dates.timezone}}</span>
                </li>
                <li class="modal-titel">WHERE
                    <span class="modal-text">{{_embedded.venues.0.country.name}}</span>
                    <span>{{_embedded.venues.1.city.name}}</span>
                    <span>{{_embedded.venues.0.name}}</span>
                </li>
                <li class="modal-titel">WHO
                    <span class="modal-text">{{name}}</span>
                </li>
                <li class="modal-titel">
                    <ul>
                        <li>
                            Standart :{{priceRanges.0.min}}-{{priceRanges.0.max}} ({{priceRanges.0.currency}})
                            <button class='modal-button'>
                                <a href="{{resultFeatch.url}}">BUY TICKETS</a>

                            </button>
                        </li>
                        <li>
                            VIP 1000-1500 UAH
                            <button class='modal-button'>
                                <span>BUY TICKETS</span>

                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <button class="modal-button-more">
        <span>MORE FROM THIS AUTHOR</span>
    </button>
</div>