{{#each this}}
<li class="card-list-item photo-card" data-id="{{id}}">

  <img class="card-list-item__photo" src="{{images.5.url}}" alt="{{name}}" />
  <div class="card-list-item__info">
    <h3 class="card-list-item__title">{{name}}</h3>
    <p class="card-list-item__date">{{dates.start.localDate}}</p>

    {{#if _embedded.venues.0.name}}
    <p class="card-list-item__place"><span class="material-icons material-icons-location">
        room
      </span>{{_embedded.venues.0.name}}</p>
  </div>
  {{else}}
  <p class="card-list-item__place"><span class="material-icons material-icons-location">
      room
    </span>{{_embedded.venues.0.country.name}}/{{_embedded.venues.0.city.name}}</p>
  </div>
   {{/if}}
</li>
{{/each}}