<div class="overlay-lightbox modal">
  <button type="button" class="close-button" data-modal-close>
    <span class="material-icons material-icons-close"> close </span>
  </button>
  <div class="overlay-modal">
    <div class="modal-img-wrapper">
      <img src="{{images.9.url}}" alt="{{name}}" class="modal-photo" />
    </div>

    <div class="modal-content">
      <div class="wrapper">
        <div>
          <div class="modal-content-img-wrapper">
          <img src="{{images.9.url}}" alt="{{name}}" class="modal-photo-main" />
          <div class="btn-event">
            <button class="like-event"><span class="material-icons material-icons-like">
              favorite
            </span></button>
            <button class="delete-event"><span class="material-icons material-icons-delete">
              delete_outline
            </span></button>
          </div>
        </div>
        </div>
        <div>
          <ul class="modal-content-list list">
          <li class="modal-title">
            info
            <span class="modal-text">{{promoter.description}}</span>
          </li>
          <li class="modal-title">
            when
            <span class="modal-text">{{dates.start.localDate}}</span>
            <span class="modal-text">{{dates.start.localTime}}
              ({{dates.timezone}})</span>
          </li>
          <li class="modal-title">
            where
            <span class="modal-text">{{_embedded.venues.0.city.name}},
              {{_embedded.venues.0.country.name}}</span>
            <span class="modal-text">{{_embedded.venues.0.name}}</span>
          </li>
          <li class="modal-title">
            who
            <span class="modal-text title-event">{{name}}</span>
          </li>

          {{#if priceRanges}}
          <li class="modal-buy-tickets">
            <span class="modal-title">prices</span>

            <div class="modal-ticket-list">
              <div class="modal-ticket">
                {{#each priceRanges}}
                <div class="modal-ticket-text">
                  <span class="modal-skan-svg">
                    <svg class="inline-svg-icon">
                      <path d="M4.91 1.27h-4.91v29.46h4.91v-29.46z"></path>
                      <path d="M17.26 1.27h-4.91v29.46h4.91v-29.46z"></path>
                      <path d="M24.699 1.27h-4.91v29.46h4.91v-29.46z"></path>
                      <path d="M44.19 1.27h-7.291v29.46h7.291v-29.46z"></path>
                      <path d="M9.82 1.27h-2.381v29.46h2.381v-29.46z"></path>
                      <path d="M29.46 1.27h-2.381v29.46h2.381v-29.46z"></path>
                      <path d="M34.37 1.27h-2.381v29.46h2.381v-29.46z"></path>
                    </svg>
                  </span>
                  <span class="modal-status-ticket modal-text">
                    {{this.type}} :{{this.min}}-{{this.max}}
                    ({{this.currency}})
                  </span>
                </div>
                {{/each}}
                <a href="{{url}}" class="modal-button" target="_blank">BUY TICKETS</a>
              </div>

              {{else}}
              <div>
                <a href="{{url}}" class="modal-button" target="_blank">BUY TICKETS</a>
              </div>

              {{/if}}
            </div>
          </li>  
        </ul>
        </div>
      </div>
      <div class="wrapper wrapper-information-container">
        <div class="wrapper-social">
          <p class="social">Share in :</p>
          <ul class="social-icons">
            <li>
              <a class="social-icon-twitter"
                href=" https://twitter.com/intent/tweet?url=https://art-smirnov.github.io/team-project-js/"
                title="share in Twitter" target="_blank" rel="noopener"></a>
            </li>
            <li>
              <a class="social-icon-fb"
                href=" https://www.facebook.com/sharer/sharer.php?u=https://art-smirnov.github.io/team-project-js/"
                title="share Facebook" target="_blank" rel="noopener"></a>
            </li>
            <li>
              <a class="social-icon-vk"
                href="https://vk.com/share.php?url=https://art-smirnov.github.io/team-project-js/" title="Share"
                target="_blank" rel="noopener"></a>
            </li>
            <li>
              <a class="social-icon-google"
                href="http://www.google.com/calendar/event?action=TEMPLATE&text={{name}}&dates={{startGoogle}}/{{endGoogle}}&details={{url}}&location={{_embedded.venues.0.country.name}}"
                target="_blank" rel="nofollow"></a>
            </li>
          </ul>
        </div>
        <div>
          <h1 class="modal-title modal-title-event">Event start in:</h1>
          <div class="timer" id="timer-1">
            <div class="field">
              <span class="value" data-value="days">--</span>
              <span class="label">Days</span>
            </div>
            <div class="box"><span class="box-dots">:</span></div>
            <div class="field">
              <span class="value" data-value="hours">--</span>
              <span class="label">Hours</span>
            </div>
            <div class="box"><span class="box-dots">:</span></div>
            <div class="field">
              <span class="value" data-value="mins">--</span>
              <span class="label">Minutes</span>
            </div>
            <div class="box"><span class="box-dots">:</span></div>
            <div class="field">
              <span class="value" data-value="secs">--</span>
              <span class="label">Seconds</span>
            </div>
          </div>
        </div>
      </div>
      
        
      <div class="button-more-grop">
        {{#if _embedded.attractions.[1]}}

        <label for="search-country" class="">
          <select name="country" id="search-country" class="form-select-author">
            <option class="form-select-option" value="" disabled selected hidden>
              MORE FROM AUTHORS
            </option>
          </select></label>
        {{else}}
        <button class="modal-button-more">
          more from : <span>{{ _embedded.attractions.[0].name}}</span>
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
</div>