<div class="overlay-lightbox modal">
    <button class="close-button" data-modal-close>X
    </button>
    <div class="overlay-modal">
        <div>
            <div class="modal-img-wrapper">
                <img src="{{images.1.url}}" alt="{{name}}" class="modal-photo" />
            </div>

            <div class="modal-content">
                <div class="modal-content-img-wrapper">
                    <img src="{{images.1.url}}" alt="{{name}}" class="modal-photo-main" />
                </div>
                <ul class="modal-content-list list">
                    <li class="modal-title">
                        info
                        

                        <span class="modal-text">{{promoter.description}}</span>
                    </li>
                    <li class="modal-title">
                        when
                        
                        <span class="modal-text">{{dates.start.localDate}}</span>
                        <span class="modal-text">{{resultFeatch.dates.start.localTime}}
                            ({{dates.timezone}})</span>
                    </li>

                    <li class="modal-title">
                        where
                        

                        <span class="modal-text">{{_embedded.venues.0.city.name}},
                            {{_embedded.venues.0.country.name}}</span>
                        <span class="modal-text">{{_embedded.venues.0.name}}</span>
                    </li>
                    <li class="modal-title">
                        who
                        <span class="modal-text">{{name}}</span>
                    </li>
                    <li class="modal-buy-tickets">
                        <span class="modal-title">prices</span>
                        

                        <div class="modal-content-list">
                            <div class="modal-ticket">
                                <div class = "modal-ticket-text">
                                    <span class="modal-skan-svg">
                                    <svg class="modal-svg">
                                        <use href="../images/barcode_icon_138897.svg"></use>
                                    </svg>
                                </span>
                                <span class="modal-status-ticket">
                                    {{products.0.type}}
                                    :{{priceRanges.0.min}}-{{priceRanges.0.max}}
                                    ({{priceRanges.0.currency}})
                                </span>
                                </div>
                                

                                <a href="{{url}}" class="modal-button">BUY TICKETS</a>
                            </div>

                            
                                <div class="modal-ticket">
                                    <div class = "modal-ticket-text">
                                      <span class="modal-skan-svg"> </span>
                                    <span class="modal-status-ticket">
                                        {{products.1.type}}:
                                        {{priceRanges.0.min}}-{{priceRanges.0.max}}
                                        ({{priceRanges.0.currency}})
                                    </span>  
                                    </div>
                                    
                                
                                <a href="{{url}}" class="modal-button">BUY TICKETS</a>
                                </div>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <button class="modal-button-more">
            <span>MORE FROM THIS AUTHOR</span>
        </button>
    </div>
</div>